@import "../variables.scss";

.top-nav .items a:not(.icon):hover {
    background-color: white;
    color: $color-gray;
}

.top-nav a {
    cursor: pointer;
}

.thomson {
    color: $color-green;
    font-weight: lighter;
}

.rentals {
    font-family: "selimaregular", cursive;
}

.banner {
    text-align: center;
    background-color: white;
    padding-top: 20px;  
}

.thomson {
    font-size: 8vw;
}

.rentals {
    font-size: 9.1vw;
}

@media screen and (max-width: 640px) {
    .top-nav {
        position: relative;
        padding-bottom: 50px;
    }

    .top-nav .items {
        transition: all 350ms ease-in-out;
        max-height: 0;
        overflow-y: hidden;
    }

    .top-nav.mobileNavOpen .items {
        max-height: 500px;
    }

    .top-nav a {
        color: white;
        padding: 10px;
        float: none;
        display: block;
        text-align: center;
    }

    .top-nav a:first-child {
        margin-top: 50px;
    }

    .top-nav a.icon {
        display: block;
        float: right;
        position: absolute;
        right: 0;
        top: 10px;
        height: 25px;
        width: 35px;
        margin-bottom: 20px;
    }

    .top-nav.mobileNavOpen a.icon {
        top: 10px;
    }

    .top-nav a.icon span, .top-nav a.icon span:before, .top-nav a.icon span:after {
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: white;
        position: absolute;
        display: block;
        content: '';
        transition: all 250ms ease-in-out;
    }

    .top-nav a.icon span:before {
        top: -10px;
    }

    .top-nav a.icon span:after {
        bottom: -10px; 
    }

    .top-nav.mobileNavOpen a.icon span {
        background-color: transparent;
    }

    .top-nav.mobileNavOpen a.icon span:before, .top-nav.mobileNavOpen a.icon span:after {
        top: 0;
    }

    .top-nav.mobileNavOpen span:before {
        transform: rotate(45deg);
    }

    .top-nav.mobileNavOpen span:after {
        transform: rotate(-45deg);
    }

    .thomson {
        font-size: 11vw;
        padding-right: 10px;
    }

    .rentals {
        font-size: 14vw;
        padding-left: 10px;
    }
}

@media screen and (min-width: 640px) {
    .top-nav {
        background-color: $color-gray;
    }

    .top-nav .items {
        display: flex;
        justify-content: flex-end;
    }
    
    .top-nav .items a {
        color: white;
        padding: 15px 20px;
        font-weight: 900;
    }

    .top-nav .icon {
        display: none;
    }

    .thomson {
        padding-right: 20px;
    }
    
    .rentals {
        padding-left: 20px;
    }
}