@import "../variables.scss";

.top-nav {
    background-color: $color-gray;
    display: flex;
    justify-content: flex-end;
}

.top-nav a {
    color: white;
    padding: 15px 20px;
    font-weight: 900;
}

.top-nav a:hover {
    background-color: white;
    color: $color-gray;
}

.thomson {
    font-size: 8rem;
    color: $color-green;
    font-weight: lighter;
    padding-right: 20px;
}

.rentals {
    font-family: "selimaregular", cursive;
    font-size: 10rem;
    padding-left: 20px;
}

.banner {
    text-align: center;
    background-color: white;
    padding-top: 20px;  
}