@import "../variables.scss";

.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  z-index: 1;
}

.top-nav a {
    cursor: pointer;
    text-decoration: none;
    color: $color-green;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 10px 0;
    margin: 0 20px;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width: 640px) {
    .top-nav {
        position: relative;
    }

    .top-nav .items {
        transition: height 350ms ease-in-out;
        height: 0;
        overflow-y: hidden;
        background-color: rgba(255,255,255,0.7);
    }

    .top-nav.mobileNavOpen .items {
        height: 100vh;
    }

    .top-nav a {
        padding: 10px;
        display: block;
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .top-nav a:first-child {
        margin-top: 80px;
    }

    .top-nav a.icon {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        width: 55px;
    }

    .top-nav.mobileNavOpen a.icon {
        top: 10px;
    }

    .top-nav a.icon span,
    .top-nav a.icon span:before,
    .top-nav a.icon span:after {
        border-radius: 1px;
        height: 4px;
        width: 35px;
        background: $color-green;
        position: absolute;
        display: block;
        content: '';
        transition: transform 250ms ease-in-out;
    }

    .top-nav a.icon span:before {
        top: -10px;
    }

    .top-nav a.icon span:after {
        bottom: -10px;
    }

    .top-nav.mobileNavOpen a.icon span {
        background-color: transparent;
    }

    .top-nav.mobileNavOpen a.icon span:before,
    .top-nav.mobileNavOpen a.icon span:after {
        top: 0;
    }

    .top-nav.mobileNavOpen span:before {
        transform: rotate(45deg);
    }

    .top-nav.mobileNavOpen span:after {
        transform: rotate(-45deg);
    }
}

@media screen and (min-width: 640px) {
    .top-nav {
        height: 70px;
    }
    
    .top-nav .items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .top-nav .items a {
        padding: 10px 0;
        margin: 0 20px;
        position: relative;
    }

    .top-nav .items a.home {
        font-size: 18px;
        border: 2px solid $color-green;
        padding: 15px 25px;
        transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    }

    .top-nav .items a.home:hover {
        background-color: $color-green;
        color: white;
    }

    .top-nav .items a.home::after {
        content: none;
    }

    .top-nav .items a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-green;
      transition: width 200ms ease;
    }

    .top-nav .items a.active::after,
    .top-nav .items a:hover::after {
      width: 100%;
    }

    .top-nav .icon {
        display: none;
    }

    .banner {
      padding-top: 90px;
    }
}
