<nav class="top-nav" [ngClass]="{'mobileNavOpen' : mobileNavOpen}">
    <div class="items">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/apartments" routerLinkActive="active">Apartments</a>
        <a routerLink="/floorplans" routerLinkActive="active">Floor Plans</a>
        <a routerLink="/amenities" routerLinkActive="active">Amenities</a>
        <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
    </div>
    <a class="icon" (click)="openMobileNav()"><span></span></a>
</nav>

<div class="banner">
    <span class="thomson">thomson</span> <span class="rentals">rentals</span>
</div>