<footer>
    <div class='send-message'>
        <h3>Send us a message</h3>
        <form>
            <input type='text' name='name' placeholder='Name' required>
            <input type='text' name='email' placeholder='Email' required>
            <textarea name='message' rows='7' cols='40' placeholder='Message'></textarea>
            <button>Submit</button>
        </form>
    </div>
    <div class='contact-info'>
        <p><strong>Thomson Rentals</strong></p>
        <p>(660) 254-0561 | towerview.rosewood@gmail.com</p>
        <p>Call or email today for a showing!</p>
    </div>
</footer>