@import "../variables.scss";

footer {
    width: 100%;
    background-color: $color-green;
    margin-top: 300px;
    margin-bottom: -200px;
    height: 250px;
    position: relative;
    text-align: right;
}

footer .contact-info {
    padding-top: 45px;
    margin-right: 700px;
    padding-left: 10px;
}

footer .contact-info p {
    color: $color-ivory;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }

    footer .contact-info {
        padding: 10px 10px;
        margin: 0;
        text-align: center;
    }
}
