@import "../variables.scss";

.send-message form {
    display: flex;
    flex-direction: column;
}

.send-message {
    background: white;
    padding: 20px;
    text-align: left;
}
 
form button {
    background-color: #006747;
    color: #FBFBF1;
    padding: 9px 0 4px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 15px;
}

form button:disabled {
    background-color: #ccc;
}

form input, form textarea {
    border-radius: 0;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Glacial Indifference', sans-serif;
}

form textarea {
    resize: none;
}

.send-message h3 {
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 20px;
}

.send-message .fa-spinner {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
    font-size: 44px;
    color: $color-green;
}

.send-message .status-message {
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 20px;
}

.send-message .status-message.success i {
    color: $color-green;
}

.send-message .status-message.failure i {
    color: $color-orange;
}