<div class='send-message'>
    <h3>Send us a message</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input type='text' name='name' placeholder='Name' ngModel required #name="ngModel">
        <input type='text' name='email' placeholder='Email' ngModel required #email="ngModel">
        <textarea name='message' rows='7' cols='40' placeholder='Message' ngModel required #message="ngModel"></textarea>
        <button [disabled]="form.invalid">Submit</button>
    </form>
    <i *ngIf="sentState === 'sending'" class="fas fa-spin fa-spinner" area-label="Sending Email"></i>
    <div *ngIf="sentState === 'success'" class="status-message success">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
        Message sent successfully.
    </div>
    <div *ngIf="sentState === 'failure'" class="status-message failure">
        <i class="fas fa-times-circle" aria-hidden="true"></i>
        Message failed to send.
    </div>
</div>