@import "../variables.scss";

.send-message form {
    display: flex;
    flex-direction: column;
}

.send-message {
    background: $color-ivory;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    right: 40px;
    text-align: left;
}
 
form button {
    background-color: #006747;
    color: #FBFBF1;
    padding: 9px 0 4px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 0.06em;
    font-size: 15px;
}

form input, form textarea {
    border-radius: 0;
    border: 1px solid $color-gray;
    margin-bottom: 10px;
    padding: 5px;
    font: 15px 'Gayathri', sans-serif;
}

form textarea {
    resize: none;
}

.send-message h3 {
    font-family: 'selimaregular', cursive;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 20px;
}

.send-message .fa-spinner {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
    font-size: 44px;
    color: $color-green;
}

@media screen and (max-width: 1000px) {
    .send-message {
        position: relative;
        margin: 0;
        bottom: auto;
        right: auto;
    }
}