.content-wrapper {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.content-wrapper h2 {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 22px;
}

.content-wrapper h3 {
    font-weight: bold;
    color: var(--green);
    margin-bottom: 10px;
}

.content-wrapper p {
    margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
    .content-wrapper {
        margin-bottom: 300px;
    }
}