.apartments {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.apartments h2 {
    font-weight: bold;
    color: var(--green);
    margin-bottom: 15px;
    font-size: 22px;
}

.apartments h3 {
    font-weight: bold;
    color: var(--green);
    margin-bottom: 10px;
}

.apartments p {
    margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
    .apartments {
        margin-bottom: 300px;
    }
}