<div class="content-wrapper">
    <h2>Our Apartments</h2>
    <p>We offer one, two, and three bedrooms apartments, all located in convenient proximity
    to Northwest Missouri State University. 
    We offer coin-operated laundry on-site for our aparments and our townhouses include a washer and dryer 
    inside the unit.  We cover water and trash and you only need to pay for electricity. 
    We do not allow dogs, other pets may be considered on a case-by-case basis.  
    We look forward to meeting you - schedule your showing today!</p>

    <h3>Rosewood Apartments</h3>
    <p>515 W 11th St</p>

    <h3>Towerview Apartments</h3>
    <p>1010 N Walnut St</p>

    <h3>Wabash Corners Apartments</h3>
    <p>912 N Walnut St</p>

    <h3>Buchanan Place Townhouses</h3>
    <p>406 N Buchanan St</p>
</div>
