<div class="content">
    <h2>apartments</h2>
    <p>
        We have four apartment complexes in Maryville, MO, each conveniently located near NWMSU campus.
    </p>
    <ul>
        <li><strong>Rosewood Apartments</strong>: 1102 N. Walnut St.</li>
        <li><strong>Towerview Apartments</strong>: 1010 N. Walnut St.</li>
        <li><strong>Wabash Corners Apartments</strong>: 820 N. Walnut St.</li>
        <li><strong>Buchanan Place Townhouses</strong>: 322 N. Buchanan St.</li>
    </ul>
</div>