<div class="content">
    <h2>amenities</h2>
    <p>We lease one, two, and three-bedroom apartments for affordable prices.  
    Our apartments are conveniently located for NWMSU students and are quiet and spacious.  
    We offer coin-operated laundry on-site for our aparments and our townhouses include a washer and dryer inside the unit.  
    We cover water and trash and you only need to pay for electricity. 
    We do not allow dogs, other pets may be considered on a case-by-case basis. 
    The complexes feature 24/7 lit hallways, dead bolts throughout, and off-street parking lit from dusk to dawn.</p>
</div>