/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Gayathri:100,400,900&display=swap);
@import 'app/variables.scss';

@font-face {
    font-family: 'selimaregular';
    src: url('assets/fonts/selima_-webfont.woff2') format('woff2'),
         url('assets/fonts/selima_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: 'Gayathri', sans-serif;
    font-size: 1.1rem;
    background-color: $color-gray;
    padding-bottom: 100px; //size of the footer
}