@import "../variables.scss";

.gallery {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery .img-cont {
    overflow: hidden;
    display: inline-block;    
    width: 65%;
}

.gallery img:hover {
    transform: scale(1.2);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.4s;
}

.gallery .left-arrow, .gallery .right-arrow {
    color: white;
    font-size: 3.5rem;
    background-color: $color-green;
}

.gallery .left-arrow .fas, .gallery .right-arrow .fas {
    margin: 30px -12px 30px -12px;
    vertical-align: middle;
}

.home .intro {
    width: 65%;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20px;
}

.home .welcome, .home p, .home .learn-more {
    padding: 20px;
}

.home .intro .welcome {
    font-family: "selimaregular", cursive;
    font-size: 3.5rem;
}

.home .intro p {
    margin-top: -5px;
}

.home .intro .learn-more {
    font-weight: bold;
    color: $color-green;
}

@media screen and (max-width: 640px) {
    .gallery .img-cont {
        height: 300px;
        width: 80%;
    }

    .gallery .left-arrow {
        margin-right: 20px;
    }

    .gallery .right-arrow {
        margin-left: 20px;
    }

    .home .intro {
        width: 80%;
    }
}

@media screen and (min-width: 641px) {
    .gallery .left-arrow {
        margin-right: 60px;
    }

    .gallery .right-arrow {
        margin-left: 60px;
    }
}