<div class="home">
    <div class="gallery">
        <igx-carousel #carousel [loop]="true" animationType="fade" class="carousel-fade">
                <igx-slide  *ngFor="let slide of slides;" class="slide">
                    <picture>
                        <source media="(min-width: 1024px)" srcset="{{ slide.desktop_img }}">
                        <img src="{{ slide.mobile_img }}" alt="" width="100%">
                    </picture>
                </igx-slide>
            </igx-carousel>
    </div>
    <div class="intro">
        <span class="welcome">welcome</span>
        <p>
            We’re located in Maryville, MO, and all of our apartments are a short walk from Northwest Missouri State University campus.
            We offer one, two, and three bedroom quality, affordable apartments and townhouses.
            The complexes feature 24/7 lit hallways, dead bolts throughout, and off-street parking lit from dusk to dawn.
        </p>
        <a class="learn-more">Learn more</a>
    </div>
    <app-map-box></app-map-box>
</div>
