<div class="home">
    <div class="gallery">
        <div class="img-cont"><img src="../../assets/images/first_image.jpg"></div>
    </div>
    <div class="content">
        <h2>welcome</h2>
        <p>
            We’re located in Maryville, MO, and all of our apartments are a short walk from Northwest Missouri State University campus.  
            We offer one, two, and three bedroom quality, affordable apartments and townhouses.  
            The complexes feature 24/7 lit hallways, dead bolts throughout, and off-street parking lit from dusk to dawn.
        </p>
    </div>
</div>
    